<Config type="VideoSettings">
    <Property name="DefaultMode" type="Bool" value="True"/>
    <Property name="Resolution" type="Vector2">
        <Vector x="1920" y="1080"/>
    </Property>
    <Property name="Fullscreen" type="Bool" value="False"/>
    <Property name="Resizable" type="Bool" value="False"/>
    <Property name="MaxFPS" type="Int" value="30"/>
    <Property name="UncappedFPS" type="Bool" value="False"/>
    <Property name="BitsPerPixel" type="Int" value="64"/>
    <Property name="VSync" type="Bool" value="False"/>
    <Property name="AntiAliasing" type="Bool" value="False"/>
    <Property name="AntiAliasingLevel" type="Int" value="2"/>
</Config>