<Config type="VideoSettings">
    <Property name="DefaultMode" type="Bool" value="true"/>
    <Property name="Resolution" subtype="Vector2">
        <Property name="x" value="1920"/>
        <Property name="y" value="1080"/>
    </Property>
    <Property name="Fullscreen" type="Bool" value="false"/>
    <Property name="Resizable" type="Bool" value="false"/>
    <Property name="MaxFPS" type="Int" value="30"/>
    <Property name="UncappedFPS" type="Bool" value="false"/>
    <Property name="BitsPerPixel" type="Int" value="64"/>
    <Property name="VSync" type="Bool" value="false"/>
    <Property name="AntiAliasing" type="Bool" value="false"/>
    <Property name="AntiAliasingLevel" type="Int" value="2"/>
</Config>